@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hidden {
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@keyframes enter {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes leave {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(10px); }
}

.animate-enter { animation: enter 0.2s ease-out forwards; }
.animate-leave { animation: leave 0.2s ease-in forwards; }
